[from_user]
;发送方邮箱
from_email = 1836958968@qq.com
;填入发送方邮箱的授权码（就是刚刚你拿到的那个授权码）
passwd = nworiqbrjsdgbgjb
[to_user]
to_email = 1836958968@qq.com
to_email1 = 1836958968@qq.com
to_email2 = 1836958968@qq.com
to_email3 = 1836958968@qq.com
to_email4 = 1836958968@qq.com
